/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('font/Tiny.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
  /* background-color: #ff0000; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.day-mode {
  background: white;
  color: black;
}

body.night-mode {
  background: black;
  color: white;
} 

/* text ================================================ */
#mainText1 {
  font-family: 'variableFont';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: left;
  position: fixed; 
  z-index: 1;
  top: 10px; 
  left: 100px;
	font-variation-settings: "wght" 100;  
}

#mainText2 {
  font-family: 'variableFont';
  font-size: 40px;
  color: rgb(255, 255, 255);
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-variation-settings: "opsz" 14, "wght" 70, "GRAD" 0, "wdth" 100, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}
body.day-mode #mainText2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.night-mode #mainText2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* Image ================================================ */
#image1 {
  width: 300px;
  padding-top: 20px;
}

/* Web Cam ================================================ */
#webcam-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 160px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #111;
  z-index: 1000;
  opacity: 0.6;
  transition: opacity 0.5s;
}

body.day-mode #webcam-container {
  display: none; /* 白天不需要摄像头 */
}

#webcam-container:hover {
  opacity: 1; /* 鼠标悬停时变亮，方便检查补光 */
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: grayscale(1) contrast(1.2);
}

.box {
  position: absolute;
  width: 80px;   /* 控制星星大小 */
  cursor: grab;
  user-select: none;
}

.box img {
  width: 100%;
  display: block;
}

body.night-clear #starLayer{
  pointer-events: auto; /* 夜晚才可以互动 */
}

.star {
  position: absolute;
  font-size: 20px;
  cursor: grab;
  user-select: none;
  color: red;
}

.star:active {
  cursor: grabbing;
  transform: scale(1.2);
}


body.night-clear .star {
  color: rgb(0, 0, 0);
}


